<header>
    <h1 class="title">{{title}}</h1>
    <ul class="nav">
        <li><a class="active" href="/">Terminal</a></li>
        <li><a href="./result">Result</a></li>
    </ul>
</header>

<form class="shell-form" method="post">
    <input class="shell-input" id="command" type="text" name="id" autocomplete="off" placeholder="enter the command"
           autofocus>
    <input class="shell-input" id="command-desc" type="text" name="id2" autocomplete="off"
           placeholder="enter the command description">
    <button class="shell-submit" type="submit">START</button>
</form>

<ul id="results"></ul>


<script>

    $('.shell-form').submit(function (e) {

        e.preventDefault();

        var shell = $('#command').val();
        var shellCom = $('#command-desc').val();
//        var startTime = formatDate(new Date());

        $.post('/',
                {
                    shell: shell,
                    shellCom: shellCom,
                },
                function (data) {

                    console.log(shell)
                }
        )
    });
</script>