<header>
    <h1 class="title">{{title}}</h1>
    <ul class="nav">
        <li><a href="/">Terminal</a></li>
        <li><a class="active" href="/">Result</a></li>
    </ul>
</header>

<div id="result"></div>

<script>

    for (var i = 0; i < localStorage.length; i++) {
        var item = $.parseJSON(localStorage.getItem(localStorage.key(i)));

        var eventList = $("#result");
        var newElement = document.createElement("li");

        console.log(item);

        newElement.innerHTML = '<time class="time">' + item.startTime + '</time>' + ' : '
                + '<span class="shell-title">' + item.command + '</span>' + ' '
                + item.comment + '<br>'
                + '<span class="response">Response : </span>' + item.response + '<br>'
                + '<time class="time">' + item.endTime + '</time>' + ' : ' + 'success';

        eventList.append(newElement);
    }

</script>



